<div id="<%= dom_id category %>">
  <p>
    <strong>Title:</strong>
    <%= category.Title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= category.Description %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= category.Type %>
  </p>

</div>
